/* global rule*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* header section*/
#header {
    background-image: linear-gradient(to right, lightblue, blue ); 
    text-align: center;
    color: white;
    font-size: 50px;
}

/* main body section*/
#flex-parent{
    display: flex;
    width: 100%;
}

/* search section left side */
#leftSection {
    width: 20%;
    text-align: center;
}

#searchSection{
    margin: 10px;
    padding: 5px;
    border-bottom:2px solid black;
  
}

#searchBox{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border:1px solid black;
}

#searchButton{
    width: 100%;
    background-color: lightblue;
    border-radius: 5px;
    border:1px solid black;
}

#searchButton:hover{
    background-color: blue;
}

/* list items */
#citys{
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#cityList {
    padding: 5px;
    margin: 5 auto;
}
.list{
    width: 100%;
    background-color: rgb(186, 186, 186);
    border-radius: 5px;
    
    margin: 5px 0;
    border: 1px solid black;
}

.list:hover{
    background-color: rgb(89, 89, 89);
}


/* city weather right side */
#sectionRight{
    display: block;
    width: 100%;
    height: 100%;
}

#right-container{
   display: inline-flex;
   width: 100%;
   justify-content: space-between;
   padding: 10px;
}

.uvIndex{
    display: inline;
}

.uvFavorable{
    background-color: green;
    padding: 2px 15px;
    border-radius: 5px;
}

.uvModerate{
    background-color: rgb(218, 218, 44);
    padding: 2px 15px;
    border-radius: 5px;
}

.uvSevere{
    background-color: red;
    padding: 2px 15px;
    border-radius: 5px;
}



#fiveDay{
    margin: 10px;
}

#card-top{
    border: 2px solid black;
    margin: 10px;
}

.card{
    width: 18%;
    background-color: rgb(76, 83, 121);
}

.card-body{
    color: white;
}
