/* global rule*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* header section*/
#header {
    background-image: linear-gradient(to right, rgb(150, 164, 244), rgb(76, 83, 121) ); 
    text-align: center;
    color: white;
    font-size: 50px;
}

/* main body section*/
#flex-parent{
    display: flex;
    width: 100%;
}

/* search section left side */
#leftSection {
    width: 20%;
    text-align: center;
}

#searchSection{
    padding: 0 15px 15px 15px;
    border-bottom: 3px solid black;
}

#searchBox{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border:1px solid black;
    background-color: rgb(150, 164, 244, 0.29)
}
#searchBox:focus {
    background-color: rgb(76, 83, 121);
    color: aliceblue;
}

#searchButton{
    width: 100%;
    background-color: rgb(76, 83, 121);
    border-radius: 5px;
    border:1px solid black;
    color:aliceblue;
}

#searchButton:hover{
    background-color: rgb(150, 164, 244);
}

/* list items */
#citys{
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#cityList {
    padding: 5px;
    margin: 5 auto;
}
.list{
    width: 100%;
    background-color: rgb(76, 83, 121);
    border-radius: 5px;
    color: aliceblue;
    margin: 5px 0;
    border: 1px solid black;
}

.list:hover{
    background-color: rgb(150, 164, 244);
}


/* city forcast for the day*/

#sectionRight{
    display: block;
    width: 100%;
    height: 100%;
}

.currentConditions {
    text-align: center;
}

#card-top{
    background-color: rgb(76, 83, 121);
    border-radius: 5px;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 15px 10px 15px 10px;
}


.uvIndex{
    display: inline;
}

.uvFavorable{
    background-color: green;
    padding: 2px 15px;
    border-radius: 5px;
}

.uvModerate{
    background-color: rgb(218, 218, 44);
    padding: 2px 15px;
    border-radius: 5px;
}

.uvSevere{
    background-color: red;
    padding: 2px 15px;
    border-radius: 5px;
}


/* 5 day city forcast*/
#right-container{
   display: inline-flex;
   width: 100%;
   justify-content: space-around;
   padding: 10px;
}


#fiveDay{
    margin: 10px;
    text-align: center;
}

.card{
    width: 18%;
    background-color: rgb(76, 83, 121);
    border-radius: 5px;
}

.card-body{
    color: white;
}
